@import "lato-fonts.css";

* {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
}

body {
  margin: 0 auto;
  width: 1020px;
}

.header {
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo {
  margin-left: 40px;
  padding: 0;
  font-weight: 500;
}

a {
    text-decoration: none;
}

.white-logo {
    color: white;
    font-size: 25px;
}

.red-logo {
  color: #f06c64;
}

.navigation-bar {
  margin-right: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 36.3%;
  font-size: 12px;
  margin-top: 9px; 
  font-weight: 700;
}

.marker {
  color: grey;
  opacity: 70%;
}

.navigation-item a {
  color: white;
  text-decoration: none;
}

.navigation-item-home a{
  color: #f06c64;
}

.navigation-item:hover, .navigation-item-home:hover {
    text-decoration: underline;
}

.slider {
  background-color: #f06c64;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 594px;
  border-bottom: 6px solid #ea676b;
}

.left-arrow {
    background: url('../assets/images/left arrow.png');
    height: 28px;
    width: 15px;
    margin-left: 14px;
    margin-bottom: 3px;
}

.left-arrow:hover{
    background: url('../assets/images/black left arrow.png');
}

.right-arrow {
    background: url('../assets/images/right arrow.png');
    height: 28px;
    width: 15px;
    margin-right: 11px;
    margin-bottom: 3px;
}

.right-arrow:hover{
    background: url('../assets/images/black right arrow.png');
}

.horizontal-phone {
    padding-left: 19px; 
    padding-bottom: 2px;
}

.services {
  box-sizing: border-box;
  padding: 63px 42px;
  height: 490px;
  background-color: #f2f2f2;
  border-bottom: 6px solid white;
  color: #767e9e;
  
}

.our-services {
  font-weight: 300;
  margin-bottom: 44px;
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
}

.our-services h2 {
  color: #666d89;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 29.3px;
}

.grid-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-gap: 30px 20px;
  font-weight: 400;
}

.grid-element {
  width: 300px;
  height: 95px;
  overflow: hidden;
  text-align: justify;
}

.grid-element p {
  line-height: 21px;
  font-size: 12px;
}

.grid-element img {
  float: left;
  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.grid-element h3 {
  color: #666d89;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
}

.pen {
  grid-area: 1 / 1 / 2 / 2;
}

.bulb {
  grid-area: 1 / 2 / 2 / 3;
}

.heart {
  grid-area: 1 / 3 / 2 / 4;
}

.phone {
  grid-area: 2 / 1 / 3 / 2;
}

.bubble {
  grid-area: 2 / 2 / 3 / 3;
}

.star {
  grid-area: 2 / 3 / 3 / 4;
}
